@import 'tailwindcss';
@import '@nuxt/ui';

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/iranyekanwebregular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Instrument Serif';
  src: url('/fonts/iranyekanwebregular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-serif: 'Instrument Serif', serif;
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

.nav-enter-active,
.nav-leave-active {
  transition: opacity 0.35s ease;
}

.nav-enter-from,
.nav-leave-to {
  opacity: 0;
}

/* base transition */

.page-enter-active,
.page-leave-active {
  position: absolute;
  width: 100%;
  inset: 0;
  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

/* default (no direction) */

.page-enter-from {
  opacity: 0;
}

.page-leave-to {
  opacity: 0;
}

/* swipe → next page (left) */

[data-direction='left'] .page-enter-from {
  transform: translateX(100%);
}

[data-direction='left'] .page-leave-to {
  transform: translateX(-100%);
}

/* swipe → previous page (right) */

[data-direction='right'] .page-enter-from {
  transform: translateX(-100%);
}

[data-direction='right'] .page-leave-to {
  transform: translateX(100%);
}

/* ensure pages stack correctly */

.page-enter-active {
  z-index: 2;
}

.page-leave-active {
  z-index: 1;
}
